
/*-----Light Theme-----*/
:root[data-theme="light"] {
    --ralsei: -47px;
    --background: #f9e2ff;
    --buttonText: white;
    --themeButton: black;
    --themeButtonText: white;
    --buttonBorder: black;
    --themeButtonShadow: #0000004d;
    --allAnimationsButton: #ff3eb7;
    --animationButton: #38705e;
    --allAnimationButtonHover: #ff72cb;
    --animationButtonHover: #4ba085;
    --allAnimationButtonFocus: #ff72cb;
    --animationButtonFocus: #4ba085;
    --box: #ffffffd7;
    --boxBorder: #ffffff;
    --text-color: black;
    --divBorder: #f0c0fd;
    --txtTheme: var(--txtThemeDark);
    --iconsTheme: brightness(0);
    --themeIcon: url("../icon/moon.ico");
    --iconHover: brightness(1);
  }
  
  /*-----Dark Theme-----*/
  :root[data-theme="dark"] {
    --ralsei: 0px;
    --background: #282a36;
    --buttonText: black;
    --themeButton: white;
    --buttonBorder: black;
    --themeButtonText: black;
    --themeButtonShadow: #ffffff33;
    --allAnimationsButton: #ff72cb;
    --animationButton: #4ba085;
    --allAnimationButtonHover: #ff9ddb;
    --animationButtonHover: #68ccac;
    --allAnimationButtonFocus: #ff9ddb;
    --animationButtonFocus: #68ccac;
    --box: #44475aef;
    --boxBorder: #8be9fd#bd93f9;
    --divBorder: #8be9fd;
    --text-color: white;
    --txtTheme: var(--txtThemeLight);
    --iconsTheme: brightness(1);
    --themeIcon: url("../icon/sun.ico");
    --iconHover: brightness(0);
  }
  