:root {
  --animation: 0px;
  --pd-s:10px;
  --pd-m:20px;
  --pd-l:30px;
}

/*-----Global-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

/*-----Container/Box-----*/

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  height: 600px;
  width: 425px;
  padding: 50px;
  border: solid 5px;
  border-color: var(--boxBorder);
  background: linear-gradient(0deg, var(--box), var(--box)), url('../image/box.jpg');
  background-size: contain;
  box-shadow: 
    inset 1px 1px 6px 3px rgba(0, 0, 0, 0.2),
    1px 1px 6px 3px rgba(255, 255, 255, 0.2);
}

.spriteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: solid 1px var(--divBorder);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.creditsBox {
  padding: var(--pd-s);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  flex-direction: column;
}

.githubBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

/*-----Images-----*/

#spriteSheet {
  margin: 50px;
  padding-left: 16px;
  image-rendering: pixelated;
  object-fit: none;
  object-position: var(--animation) var(--ralsei);
  scale: 3;
  width: 64px;
  height: 47px;
  -webkit-user-drag: none;
}

.githubIcon {
  max-width: 25px;
  margin-right: 5px;
  filter: var(--iconsTheme);
}

/*-----Button-----*/

.propertiesButton {
  padding: 8px 20px;
  margin: 3px;
  border: solid 2px;
  border-radius: 5px;
  font-family: 'Pixelify Sans';
  font-weight: 400;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

.button {
  background-color: var(--animationButton);
  border-color: var(--ButtonBorder);
}

.allButton {
  background-color: var(--allAnimationsButton);
  border-color: var(--ButtonBorder);
}

.themeButton {
  background-color: var(--themeButtonText);
  border-color: var(--themeButton);
  color: var(--themeButton);
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleIconButton {
  width: 20px;
  margin-right: 10px;
  content: var(--themeIcon);
  transition: 0.8s;
  transition-delay: 0ms;
  filter: var(--iconsTheme);
}

.themeButton::after {
  content: var(--themeText);
}

.whiteButtonText {
  color: var(--buttonText);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pixelify Sans';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: var(--themeButton);
  cursor: pointer;
}

/*-----Hover Button-----*/

.themeButton:hover {
  background-color: var(--themeButton);
  border-color: var(--themeButtonText);
  color: var(--themeButtonText);
  .toggleIconButton{
    filter: var(--iconHover);
    transform: rotate(45deg);
    transition: 0.8s;
    transition-delay: 0ms;
  }
}

.button:hover {
  background-color: var(--animationButtonHover);
}

.allButton:hover {
  background-color: var(--allAnimationButtonHover);
}

.propertiesButton:hover {
  box-shadow: var(--themeButtonShadow) 0px 0px 5px 1px;
}

/*-----Focus Button-----*/

.button:focus {
  background-color: var(--animationButtonFocus);
}

.allButton:focus {
  background-color: var(--allAnimationButtonFocus);
}

/*-----Pop up-----*/


/*-----Responsive-----*/

@media only screen and (max-width: 600px){
  .container {
    padding: 15px;
    height: 540px;
    width: 370px;
  }
}

/*-----Light Theme-----*/

:root[data-theme="light"] {
  --ralsei: -47px;
  --background: #f9e2ff;
  --buttonText: white;
  --themeButton: black;
  --themeButtonText: white;
  --buttonBorder: black;
  --themeButtonShadow: #0000004d;
  --allAnimationsButton: #ff3eb7;
  --animationButton: #38705e;
  --allAnimationButtonHover: #ff72cb;
  --animationButtonHover: #4ba085;
  --allAnimationButtonFocus: #ff72cb;
  --animationButtonFocus: #4ba085;
  --box: #ffffffd7;
  --boxBorder: #ffffff;
  --divBorder: #f0c0fd;
  --themeText: "Dark Mode";
  --iconsTheme: brightness(0);
  --themeIcon: url("../icon/moon.ico");
  --iconHover: brightness(1);
}

/*-----Dark Theme-----*/

:root[data-theme="dark"] {
  --ralsei: 0px;
  --background: #282a36;
  --buttonText: black;
  --themeButton: white;
  --buttonBorder: black;
  --themeButtonText: black;
  --themeButtonShadow: #ffffff33;
  --allAnimationsButton: #ff72cb;
  --animationButton: #4ba085;
  --allAnimationButtonHover: #ff9ddb;
  --animationButtonHover: #68ccac;
  --allAnimationButtonFocus: #ff9ddb;
  --animationButtonFocus: #68ccac;
  --box: #44475aef;
  --boxBorder: #8be9fd#bd93f9;
  --divBorder: #8be9fd;
  --themeText: "Light Mode";
  --iconsTheme: brightness(1);
  --themeIcon: url("../icon/sun.ico");
  --iconHover: brightness(0);
}
